<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    {% include 'Foodapp/header.html' %}
    <table id="tblItems" class="table table-hover" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ordobj in data %}
            <tr class="child-row{{ordobj.id}}">
                <td>{{ordobj.id}}</td>
                <td>{{ordobj.date}}</td>
                <td>{{ordobj.status}}</td>
                <td>{{ordobj.totalamount}}</td>
                <td id="details">
                    <button class=" btn btn-primary showorders" data-toggle="tooltip" data-placement="top" title="Click to view Order Details"
                    data-orderid="{{ordobj.id}}"><span class="fa fa-eye"></span></button>
                </td>
            </tr>
            <tr class="detailrow{{ordobj.id}}" style="display: none">
                <td></td>
                <td><b>Food</b></td>
                <td><b>Price</b></td>
                <td><b>Quantity</b></td>
                <td></td>
            </tr>
            {% for ords in data1 %}
            {% if ordobj.id == ords.ordersobj.id %}
            <tr class="detailrow{{ordobj.id}}" style="display: none;">
                <td>
                    <input id="orderId{{ords.id}}" data-itemId="{{ords.id}}" type="hidden">
                </td>
                <td><a href="/showfood/">{{ords.food.name}}</a></td>
                <td>{{ords.total}}</td>
                <td>{{ords.foodQuant}}</td>
                <td></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

<script>
    $(document).ready(function(){
        $('button.showorders').click(function(){
            oid=$(this).attr('data-orderid');
            $('.detailrow'+oid).toggle();
        });
    });
</script>



</body>
</html>

