<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updatecust/" method="POST">
        {% csrf_token %}
        <br>
        <label>Username</label><input type="text" name='username' value="{{data2.username}}" readonly><br><br>
        <label>Email</label><input type="email" name="email" value="{{data2.email}}" readonly><br><br>
        <label>First Name</label><input type="text" name="first_name" value="{{data2.first_name}}"><br><br>
        <label>Last Name</label><input type="text" name="last_name" value="{{data2.last_name}}"><br><br>
        <label>Role</label><input type="text" name="Role" value="{{role}}">
        <label>Location</label><input type="text" name="location" value="{{data1.location}}"><br><br>
        <label>Contact</label><input type="text" name="number" value="{{data1.number}}"><br><br>
        <input type="submit" value="update">
    </form>
</body>
</html>